@media (max-width: 920px) {
  .landing-title-container {
    width: 100%;
    height: 40vh;
    min-height: 200px;
    
    h1 {
      width: 50%;
      padding-top: 5vh;
    }
    .landing-play-btn-container {
      width: 50%;
      height: 40vh;
    }
  }
  
  .mixer-container {
    padding-top: 20px;
    min-width: 94%;
    border-top: 1vh solid $glbl-clr-6;
    border-radius: 10% 10%;
  }
  
    canvas {
    width: 100%;
    left: 50%;
  }
  
  canvas {
    transform: rotate(90deg) translate(-25%, -0%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
}

@media (max-width: 630px) {
  .landing-title-container {
    width: 100%;
    height: inherit;
    min-height: 200px;
    
    h1 {
      width: 100%;
      padding-top: 2vh;
      font-size: 60px;
    }
    .landing-play-btn-container {
      width: 100%;
      height: 24vh;
    }
  }
  
  .mixer-container {
    min-width: 100%;
    margin-right: 0px;
    height: inherit;
    padding-bottom: 20px;
  }
  
  canvas {
    transform: rotate(0deg) translate(0%, -0%);
    top: 0%;
    left: 0%;
  }
  
}

@media (max-width: 450px) {
  .filter-section {
    .label-left, .label-right {
      opacity: 0;
    }
  }
  
}