// _variables.scss
// ====================

// Font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$font: 'Open Sans', sans-serif;

//// Color
//$glbl-clr-1: #395e6e;
//$glbl-clr-2: #78abb9;
//$glbl-clr-4: #bfc7c7;
//$glbl-clr-5: #28424c;
//$glbl-clr-6: #99503c;
//$white: #fefefe;

/*
// Color
// Dark main
$glbl-clr-1: #193441;
// Highlight Main
$glbl-clr-2: #3E606F;
// Neutral grey
$glbl-clr-4: #7E827A;
// Main darken
$glbl-clr-5: #193441;
// rim off
$glbl-clr-6: #703030;
*/

// Color
// Dark main
$glbl-clr-1: #193441;
// Highlight Main
$glbl-clr-2: #3E606F;
// Neutral grey
$glbl-clr-4: #7E827A;
// Main darken
$glbl-clr-5: #193441;
// rim off
$glbl-clr-6: #703030;

$white: #fefefe;
