@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 50, ../components/sass/_fader.scss */
.fader {
  -webkit-appearance: none;
  margin: 37.5px 0;
  width: 27vh;
}
/* line 56, ../components/sass/_fader.scss */
.fader:focus {
  outline: none;
}
/* line 60, ../components/sass/_fader.scss */
.fader::-webkit-slider-runnable-track {
  width: 27vh;
  height: 16px;
  cursor: pointer;
  transition: all .2s ease;
  box-shadow: 0px 0px 0px transparent, 0 0 0px rgba(13, 13, 13, 0);
  background: #395e6e;
  border: 0px solid transparent;
  border-radius: 0px;
}
/* line 68, ../components/sass/_fader.scss */
.fader::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #111, 0 0 0px #1e1e1e;
  border: 10px solid #395e6e;
  height: 75px;
  width: 30px;
  border-radius: 20%;
  background: #fefefe;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -29.5px;
}
/* line 74, ../components/sass/_fader.scss */
.fader:focus::-webkit-slider-runnable-track {
  background: #426c7f;
}
/* line 78, ../components/sass/_fader.scss */
.fader::-moz-range-track {
  width: 27vh;
  height: 16px;
  cursor: pointer;
  transition: all .2s ease;
  box-shadow: 0px 0px 0px transparent, 0 0 0px rgba(13, 13, 13, 0);
  background: #395e6e;
  border: 0px solid transparent;
  border-radius: 0px;
}
/* line 86, ../components/sass/_fader.scss */
.fader::-moz-range-thumb {
  box-shadow: 0px 0px 0px #111, 0 0 0px #1e1e1e;
  border: 10px solid #395e6e;
  height: 75px;
  width: 30px;
  border-radius: 20%;
  background: #fefefe;
  cursor: pointer;
}
/* line 90, ../components/sass/_fader.scss */
.fader::-ms-track {
  width: 27vh;
  height: 16px;
  cursor: pointer;
  transition: all .2s ease;
  background: transparent;
  border-color: transparent;
  border-width: 30px 0;
  color: transparent;
}
/* line 98, ../components/sass/_fader.scss */
.fader::-ms-fill-lower {
  box-shadow: 0px 0px 0px transparent, 0 0 0px rgba(13, 13, 13, 0);
  background: #30505d;
  border: 0px solid transparent;
  border-radius: 0px;
}
/* line 105, ../components/sass/_fader.scss */
.fader::-ms-fill-upper {
  box-shadow: 0px 0px 0px transparent, 0 0 0px rgba(13, 13, 13, 0);
  background: #395e6e;
  border: 0px solid transparent;
  border-radius: 0px;
}
/* line 112, ../components/sass/_fader.scss */
.fader::-ms-thumb {
  box-shadow: 0px 0px 0px #111, 0 0 0px #1e1e1e;
  border: 10px solid #395e6e;
  height: 75px;
  width: 30px;
  border-radius: 20%;
  background: #fefefe;
  cursor: pointer;
}
/* line 116, ../components/sass/_fader.scss */
.fader:focus::-ms-fill-lower {
  background: #395e6e;
}
/* line 120, ../components/sass/_fader.scss */
.fader:focus::-ms-fill-upper {
  background: #426c7f;
}

/* line 48, ../components/sass/_slider.scss */
.slider {
  -webkit-appearance: none;
  margin: 20px 0;
  width: 80%;
}
/* line 55, ../components/sass/_slider.scss */
.slider:focus {
  outline: none;
}
/* line 59, ../components/sass/_slider.scss */
.slider::-webkit-slider-runnable-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  transition: all .2s ease;
  box-shadow: 0px 0px 0px transparent, 0 0 0px rgba(13, 13, 13, 0);
  background: #395e6e;
  border: 0px solid transparent;
  border-radius: 0px;
}
/* line 67, ../components/sass/_slider.scss */
.slider::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #111, 0 0 0px #1e1e1e;
  border: 5px solid #395e6e;
  height: 40px;
  width: 20px;
  border-radius: 30%;
  background: #fefefe;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -15px;
}
/* line 73, ../components/sass/_slider.scss */
.slider:focus::-webkit-slider-runnable-track {
  background: #426c7f;
}
/* line 77, ../components/sass/_slider.scss */
.slider::-moz-range-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  transition: all .2s ease;
  box-shadow: 0px 0px 0px transparent, 0 0 0px rgba(13, 13, 13, 0);
  background: #395e6e;
  border: 0px solid transparent;
  border-radius: 0px;
}
/* line 85, ../components/sass/_slider.scss */
.slider::-moz-range-thumb {
  box-shadow: 0px 0px 0px #111, 0 0 0px #1e1e1e;
  border: 5px solid #395e6e;
  height: 40px;
  width: 20px;
  border-radius: 30%;
  background: #fefefe;
  cursor: pointer;
}
/* line 89, ../components/sass/_slider.scss */
.slider::-ms-track {
  width: 80%;
  height: 10px;
  cursor: pointer;
  transition: all .2s ease;
  background: transparent;
  border-color: transparent;
  border-width: 20px 0;
  color: transparent;
}
/* line 97, ../components/sass/_slider.scss */
.slider::-ms-fill-lower {
  box-shadow: 0px 0px 0px transparent, 0 0 0px rgba(13, 13, 13, 0);
  background: #30505d;
  border: 0px solid transparent;
  border-radius: 0px;
}
/* line 104, ../components/sass/_slider.scss */
.slider::-ms-fill-upper {
  box-shadow: 0px 0px 0px transparent, 0 0 0px rgba(13, 13, 13, 0);
  background: #395e6e;
  border: 0px solid transparent;
  border-radius: 0px;
}
/* line 111, ../components/sass/_slider.scss */
.slider::-ms-thumb {
  box-shadow: 0px 0px 0px #111, 0 0 0px #1e1e1e;
  border: 5px solid #395e6e;
  height: 40px;
  width: 20px;
  border-radius: 30%;
  background: #fefefe;
  cursor: pointer;
}
/* line 115, ../components/sass/_slider.scss */
.slider:focus::-ms-fill-lower {
  background: #395e6e;
}
/* line 119, ../components/sass/_slider.scss */
.slider:focus::-ms-fill-upper {
  background: #426c7f;
}

/* line 124, ../components/sass/_slider.scss */
.slider {
  margin-left: 10%;
}

/* line 4, ../components/sass/_base.scss */
body {
  background: #bfc7c7;
}

/* line 12, ../components/sass/_base.scss */
nav {
  width: 100vw;
  height: 45px;
  background: #28424c;
  font-family: "Open Sans", sans-serif;
  position: relative;
}
/* line 19, ../components/sass/_base.scss */
nav h1 {
  color: #bfc7c7;
  font-size: 45px;
  position: absolute;
  bottom: -7px;
  left: 7px;
}

/* line 33, ../components/sass/_base.scss */
.landing-title-container {
  height: calc(100vh - 45px);
  min-height: 400px;
  width: 36%;
  float: left;
}
/* line 40, ../components/sass/_base.scss */
.landing-title-container h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 15vh;
  text-align: center;
  padding-top: 10vh;
  color: #28424c;
  -webkit-text-stroke: 0.15vw #99503c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  float: left;
  width: 100%;
}
@media (max-height: 333.33333px) {
  /* line 40, ../components/sass/_base.scss */
  .landing-title-container h1 {
    font-size: 50px;
  }
}
@media (min-height: 533.33333px) {
  /* line 40, ../components/sass/_base.scss */
  .landing-title-container h1 {
    font-size: 80px;
  }
}

/* line 56, ../components/sass/_base.scss */
.landing-play-btn-container {
  height: 50vh;
  width: 100%;
  position: relative;
  float: left;
}
/* line 62, ../components/sass/_base.scss */
.landing-play-btn-container button {
  display: none;
}
/* line 66, ../components/sass/_base.scss */
.landing-play-btn-container .landing-play-btn {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

/* line 76, ../components/sass/_base.scss */
.play-btn, .pause-btn {
  box-sizing: border-box;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  border: 5px solid #28424c;
  cursor: pointer;
}
/* line 84, ../components/sass/_base.scss */
.play-btn::after, .pause-btn::after {
  content: "";
  position: absolute;
  height: 0px;
  width: 0px;
  border: 6vh solid transparent;
  border-left: 10vh solid #28424c;
  top: 3.5vh;
  left: 6vh;
  transition: .25s;
}
/* line 97, ../components/sass/_base.scss */
.play-btn::before, .pause-btn::before {
  content: "";
  position: absolute;
  height: 10vh;
  width: 0px;
  border: 0px solid transparent;
  border-left: 3.5vh solid #99503c;
  top: 4vh;
  left: 5vh;
  opacity: 0;
  transition: .25s;
}

/* line 112, ../components/sass/_base.scss */
.play-btn:hover::after, .pause-btn:hover::after {
  border-left-color: #78abb9;
}
/* line 115, ../components/sass/_base.scss */
.play-btn:hover::before, .pause-btn:hover::before {
  border-left-color: #78abb9;
}

/* line 120, ../components/sass/_base.scss */
.pause-btn {
  transform: rotate(180deg);
}
/* line 123, ../components/sass/_base.scss */
.pause-btn::after {
  content: "";
  position: absolute;
  height: 10vh;
  width: 0px;
  border: 0px solid transparent;
  border-left: 3.5vh solid #99503c;
  top: 4vh;
  left: 10vh;
}
/* line 134, ../components/sass/_base.scss */
.pause-btn::before {
  opacity: 1;
}

/* line 141, ../components/sass/_base.scss */
.mixer-container {
  box-sizing: border-box;
  float: right;
  margin-right: 3%;
  width: 60%;
  border-radius: 0% 0% 10% 10%;
  border: 1vh solid #99503c;
  border-top: 0vh solid #99503c;
  height: 90vh;
  min-height: 470px;
  max-height: 720px;
  font-family: "Open Sans", sans-serif;
  background: rgba(255, 255, 255, 0.1);
}

/* line 156, ../components/sass/_base.scss */
.mixer-off {
  transition: 1s;
  filter: grayscale(50%) brightness(80%);
}

/* line 161, ../components/sass/_base.scss */
.mixer-off:hover {
  transition: .25s;
  filter: grayscale(30%) brightness(90%);
}

/* line 166, ../components/sass/_base.scss */
.main-loops-container {
  padding: 2vh 0vh;
  text-align: center;
}

/* line 171, ../components/sass/_base.scss */
.loop-btn-stopped:focus, .loop-btn-playing:focus {
  outline: none;
}

/* line 175, ../components/sass/_base.scss */
.loop-btn-stopped {
  box-sizing: border-box;
  border: 1vh solid #99503c;
  background: #bfc7c7;
  color: #99503c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: .25s;
}

/* line 186, ../components/sass/_base.scss */
.loop-btn-playing {
  box-sizing: border-box;
  border: 1vh solid #395e6e;
  background: #78abb9;
  color: #99503c;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: .25s;
}

/* line 197, ../components/sass/_base.scss */
.loop-btn-large {
  min-height: 30px;
  height: 5vh;
  border-radius: 30px;
  padding: 0vh 10%;
  line-height: 1em;
  font-size: 14px;
}

/* line 214, ../components/sass/_base.scss */
.channel-strip {
  float: left;
  width: 25%;
}

/* line 219, ../components/sass/_base.scss */
.loop-btns {
  text-align: center;
}

/* line 223, ../components/sass/_base.scss */
.icon {
  text-align: center;
  min-height: 30px;
  height: 5vh;
}
/* line 227, ../components/sass/_base.scss */
.icon img {
  height: 100%;
  margin-top: 1vh;
}

/* line 233, ../components/sass/_base.scss */
.filter-section {
  position: relative;
  color: #99503c;
  height: 60px;
}
/* line 238, ../components/sass/_base.scss */
.filter-section .label-left {
  position: absolute;
  left: 5%;
  font-size: 10px;
}
/* line 244, ../components/sass/_base.scss */
.filter-section .label-center {
  position: absolute;
  transform: translate(-50%, 0%);
  left: 50%;
  text-align: center;
  font-weight: bold;
  bottom: -2px;
}
/* line 254, ../components/sass/_base.scss */
.filter-section .label-right {
  position: absolute;
  right: 5%;
  font-size: 10px;
}

/* line 263, ../components/sass/_base.scss */
.volume-container {
  position: relative;
  height: 33vh;
  width: 85px;
  margin: auto;
}
/* line 269, ../components/sass/_base.scss */
.volume-container::after {
  content: "Volume";
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  font-weight: bold;
  color: #99503c;
  font-size: 20px;
}

/* line 283, ../components/sass/_base.scss */
.volume-section {
  width: 0px;
  height: 0px;
  position: absolute;
  bottom: 10%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

/* line 295, ../components/sass/_base.scss */
.help-hint {
  position: absolute;
  max-width: 190px;
  background: #99503c;
  color: #fefefe;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
}
/* line 305, ../components/sass/_base.scss */
.help-hint::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  transform: translate(-50%, -100%);
  top: 0px;
  left: 50%;
  border: 10px solid transparent;
  border-bottom: 10px solid #99503c;
}

/* line 319, ../components/sass/_base.scss */
canvas {
  width: 105%;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 51%;
  top: 50%;
  z-index: -1;
  opacity: 0;
  transition: .5s;
}

@media (max-width: 920px) {
  /* line 2, ../components/sass/_responsive.scss */
  .landing-title-container {
    width: 100%;
    height: 40vh;
    min-height: 200px;
  }
  /* line 7, ../components/sass/_responsive.scss */
  .landing-title-container h1 {
    width: 50%;
    padding-top: 5vh;
  }
  /* line 11, ../components/sass/_responsive.scss */
  .landing-title-container .landing-play-btn-container {
    width: 50%;
    height: 40vh;
  }

  /* line 17, ../components/sass/_responsive.scss */
  .mixer-container {
    padding-top: 20px;
    min-width: 94%;
    border-top: 1vh solid #99503c;
    border-radius: 10% 10%;
  }

  /* line 24, ../components/sass/_responsive.scss */
  canvas {
    width: 100%;
    left: 50%;
  }
}
@media (max-width: 630px) {
  /* line 31, ../components/sass/_responsive.scss */
  .landing-title-container {
    width: 100%;
    height: inherit;
    min-height: 200px;
  }
  /* line 36, ../components/sass/_responsive.scss */
  .landing-title-container h1 {
    width: 100%;
    padding-top: 2vh;
    font-size: 60px;
  }
  /* line 41, ../components/sass/_responsive.scss */
  .landing-title-container .landing-play-btn-container {
    width: 100%;
    height: 24vh;
  }

  /* line 47, ../components/sass/_responsive.scss */
  .mixer-container {
    min-width: 100%;
    margin-right: 0px;
    height: inherit;
    padding-bottom: 20px;
  }
}
@media (max-width: 450px) {
  /* line 57, ../components/sass/_responsive.scss */
  .filter-section .label-left, .filter-section .label-right {
    opacity: 0;
  }
}
